nav {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 1rem;
    position: fixed;
    width: 100vw;
    left: 0;
    font-family: "Press Start 2P", system-ui;
    background-color: #31395a;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.navbar {
    display: flex;
    list-style: none;
}

.navbar a {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.navbar li {
    padding-right: 4rem;
}

/* Estilos para el menú hamburguesa */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    left: 1rem;
    top: 1rem;
}

.menu-toggle .bar {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 5px 0;
}

/* Responsividad para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    nav {
        padding: 0.5rem;
        justify-content: space-between;
    }

    .menu-toggle {
        display: flex;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #31395a;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
        display: none;
    }

    .navbar.active {
        display: flex;
    }

    .navbar li {
        padding: 1rem 0;
    }
}
