.proyects{
    opacity: 0; 
    transition: opacity 0.5s ease;
    padding-top: 6rem;

}



.proyects h2{
    font-size: 2rem;
    font-family: "Press Start 2P", system-ui;
}




.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Ajusta columnas automáticamente */
    gap: 1.2rem; /* Espaciado entre elementos */
    justify-content: center;
    padding-top: 2rem;
    max-width: 66rem;
    margin: 0 auto;
}

.list a{
    text-decoration: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list li{

    background-color: #7B84A4;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    align-content: center;
    font-family: "VT323", monospace;
}

.list li h3{
    font-size: 2rem;
    text-decoration: none;
    max-width: 250px;
}
.list p{
    font-family: "VT323", monospace;
    max-width: 250px;
    text-align: justify;


}
.list img{
    width: 150px;
}

.button{
    display: flex;
    justify-content:flex-end;
    width: 80%;
    font-family: "VT323", monospace;
}

.button button{
    padding: 1rem;
    font-size: 1.3rem;
}

