.work{
    display: flex;
    flex-direction: column;
    padding-top: 7rem;
    justify-content: center;
    opacity: 0; 
    transition: opacity 0.5s ease;

}
.technologies i{
    font-size: 3rem;
}
.desciptionContainer{
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.desciptionContainer h4{
    font-family: "VT323", monospace;
    font-size: 2rem;
}

.technologies{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.technologies i{
    margin: 1rem;
}

.text_work{
    display: flex;
    align-items: initial;
    justify-content: space-between;
    max-height: 100%;
}

.work_title{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
}

.text_work h2{
    font-family: "Press Start 2P", system-ui;
    font-size: 2rem;
    text-align: top;
    padding-right: 2rem;


}
.text_work p{
    font-family: "VT323", monospace;
    font-size: 1.4rem;
    text-align: justify;
}





.social{
    display: flex;  
    flex-direction: column;
    align-items: space-between;
    justify-content: space-around;
    padding: -2rem 1.5rem;
}

.social img{
    width: 1rem;
    padding: 0.5rem;
    margin-right: 3rem;
    text-align: end;
    cursor: pointer;
    
}

.experience{
    font-family: "VT323", monospace;
    padding:0.5rem;
    margin: 0.3rem 0;
    cursor: pointer;
    margin-top: 2rem;
}

.experience:hover{
    background-color: #f3890e;
}


.experience.active {
    background-color: #f3890e; 
}

