@font-face {
    font-family: MyFont;
    src: url("../../../ProtestRiot-Regular.ttf") format("opentype");
}

@font-face {
    font-family: Myfont2;
    src: url("../../../Sixtyfour-Regular-VariableFont_BLED,SCAN.ttf") format("opentype");
}



