.description {
    color: white;
    font-family: 'VT323';
}

.description_list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
}

.description_content{
    text-align: left;
    font-size: 1.4rem;
}

