.work{
    width: 100%;
    
}

.work h2{
    font-family: 'Press Start 2P';
    color: white;
    text-align: left;
    padding: 0;

}
.contact{
    width: 100%;
    margin: 2rem 0;
    
}


.contact h2{
    font-family: 'Press Start 2P';
    color: white;
    text-align: left;
    padding: 0;

}


.laboral_list{

    width: 100%;
    

}

.laboral_item{
    background-color:aliceblue;
    display: flex;
    border-radius: 9px;
    margin: 1rem 0;
}

.laboral_item:hover{
    background-color: #f3890e ;
}

.laboral_item img{
    margin: 0 1.5rem;
    width: 1.8rem;
}

.work_content{
    text-align: left;
    font-family: 'Workbench';
    font-size: 0.8rem;

}
.work_content p{

    color: black;
    font-size: 0.7rem;
    font-weight: 600;
}

.laboral_list a{
    color: black;
}

.laboral_list a:visited{

    color: black;
}
